body{
    width: 300px;
    height: 250px;
}

.btn-group-vertical{
   width: 90%;
   margin-left: 5%;
}

#schedule-meeting{
    margin-bottom: 20px;
}

.lead{
    padding-top: 4%;
    text-align: center;
}
